<div class="container">


<hr />
<div class="row">
    <div class="col-sm-4">
      <h2>The Problem</h2>
      <p>Humans are naturally biased. This affects the job market, as a company may be more likely to higher a male employee versus a female or a more loyal employee versus a more skilled applicant. This can lead to a lack of diversity in many fields including computer science. A lack of diversity in computer science, especially in the field of Artificial Intelligence, can lead to Algorithm Bias, as the training data set for the algorithm is biased.</p>
      <h3>Some Interesting Links About Implicit Bias</h3>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="https://www.survivalofthebestfit.com/">Survival of the Best Fit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://implicit.harvard.edu/implicit/takeatest.html">Project Implicit</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
        <h2>Women in Tech</h2>
        <p>-According to the American Association of University Women, computer science has one of the smallest pay gaps between male and female professionals, with women earning 94% of what men earn.</p>
        <p class ="tab">-Personal computers were marketed almost exclusively to men, and families were more likely to buy computers for boys than girls.</p>
        <p class = "tab">-Due to the marketing strategies of the last three decades, many women have developed misconceptions about computer science.</p>
        <p>-It is still commonplace to find boards and project teams without a female member. However, the integration of female perspectives will naturally lead to higher revenues and a better understanding of consumer marketplaces.</p>
        <h2>The Solution</h2>
        <p>We believe that Artificial Intelligence can act like a mirror and help us detect our implicit biases. In turn, when we better understand this, we can actively work to fix this and diversify certain fields, including computer science. More diversity can then drive innovation.</p>
      <br>
    </div>
  </div>

</div>
