<div class="container size">
    <h1>Algorithms are Everywhere</h1>
    <br>
    <b>Algorithmic bias is rooted in the way AI algorithms work.
      Algorithms are created from input made by people and those people realize that we are all biased as humans.
      </b>
    <br>
    <br>
    <b>Machine learning is used to help have the computer make decisions however company owners realize that their algorithms are bias.</b>
    <br>
    <br>
    <b>Machine Learning is the study of algorithms and sets of statistical assumptions that computer systems use to perform a specific task without using detailed instructions.</b>
    <br>
    <br>
    <b>Many are starting to take notice to the bias algorithms and
    </b>
    <br>
    <br>
    <b>These are the four current solutions:</b>
    <br>
    <br>
    <ol>
      <li><b>adversarial de-biasing</b> of models through protection of sensitive attributes,</li>
      <li>encoding invariant representations with semi-supervised, <b>variational “fair” autoencoders</b>,
      </li>
      <li><b>dynamic upsampling of training data</b> based on learned latent representations, and</li>
      <li>preventing disparity amplification through <b>distributionally robust optimization</b>.
      </li>
    </ol>
    <br>
    <b>Does anyone understand what any of these mean?</b>
    <br>
    <br>
    <b>These solutions are not simplified for many others to understand. These are long complicated words that can discourage people who want to be in the tech field. </b>
    <br>
    <br>
    <b>There needs to be a more detailed, simplified way to state these current solutions.</b>
    <br>
    <br>
    <b>By adding biased data into AI algorithms biased results would be returned.</b>

</div>
